    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Personal details</h2>
              <h3>BIO</h3>
              <br/>
              <h6 class="small text-justify">
                Gabriele De Vito is a highly accomplished computer science professional with over 25 years of experience in the IT industry. He holds a master's degree in computer science from the University of Salerno and is a qualified Computer Science Engineer from the University "Federico II" of Naples.
                Gabriele has held various leadership positions throughout his career, including Chief Technology Officer at Innovaway S.p.A. from 2016 to 2022. He also served as Innovaway's Scientific Committee member, providing valuable insights and guidance on technology-related issues and decisions.
                Before joining Innovaway, from 1997 to 2015, Gabriele held various positions at CID Software Studio S.p.A., including CIO, R&D Manager, Team Leader, and Software Engineer. During his time at CID Software, he played a crucial role in the company's growth, increasing revenue from 500K to 15M euros through developing efficient applications and implementing agile and SCRUM methodologies.
                Gabriele's expertise extends to project management and software development. He has successfully managed multiple contracts and completed information systems work within the budget. Additionally, he has led numerous research and development projects, raising significant funding and contributing to the growth and success of the organizations he has worked with.
                Gabriele's contributions to the field of computer science have been recognized through various professional certifications and awards. He has obtained certifications in project management, function point measurement, software development methodologies, and more. He also won the best research paper on COSMIC and received the Best Graduate Thesis Award in Software Sizing.
                Gabriele is pursuing a Ph.D. in computer science at the University of Salerno, focusing his research on software engineering, functional size measurement, machine learning, and large language models. He works as a High School Teacher and a professional consultant alongside his academic pursuits, sharing his knowledge and expertise with the next generation of computer scientists.
              </h6>
              <br/>
            </div>
        </div>
    </section>
